{% extends 'secrets/base.html'%}
{% block body %}
{% load humanize %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Hello {{request.session.current_user}}!</h1>
<h1>id{{request.session.current_user_id}}</h1>
<a href="{% url 'secrets:popular' %}">Most Popular Secrets</a>
<form class="" action="{% url 'secrets:create_post'%}" method="post">
  {% csrf_token %}
  <textarea name="comment" rows="8" cols="80">Your secrets here</textarea>
  <input type="submit" name="submit" value="Post">
</form>
<div class="posts">
  <h1>Recent Secrets...</h1>
{% for post in posts %}
  <p>{{post.content}} ({{post.created_at| naturaltime}} )</p>
  <p>{{post.total_likes}} likes</p>
  <a href="{% url 'secrets:like' post_id=post.id%}">Like</a>
{% endfor%}

</div>
{% endblock %}
